body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    background-color: white;
    margin: 1% 5% 5% 5%;
}

#grid-container {
    display: grid;
    border: black solid 5px;
    margin: 5%;
    width: 40%;
}

.grid-item {
    background-color: white;
    border: black solid 1px;
}

.grid-item::before {
    content: "";
    padding-bottom: 100%;
    display: block;
}