#grid-container {
    display: grid;
    border: black solid 5px;
}

.grid-item {
    background-color: burlywood;
    border: black solid 1px;
}

.grid-item::before {
    content: "";
    padding-bottom: 100%;
    display: block;
}